/* ConteudoCatalogo.py */
#conteudoCatalogo{
    background-color: #FFF9EF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#barraPesquisa{
    border-radius: 15px;
    padding: 5px 5px;
    font-size: 16px;
}

#labelCatalogo {
    font-size: 30px;
}

#botaoVoltar{
    image: url("src/view/assets/icons/botaoVoltar.svg");
    width: 40px;
    height: 40px;
    background-color: transparent;
}

#botaoVoltar:hover{
    image: url("src/view/assets/icons/botaoVoltarSelecionado.svg");
}

#labelVoltar{
    font-size: 20px;
}

/*-------------------------------*/


/* PainelFiltro.py */
#painelFiltro{
    background-color: #F0D097;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#botaoVoltar {

}

#labelVoltar {

}


/*-------------------------------*/


/* PainelLivros.py */
#contentWidget{
    background-color: #F0D097;
    /*border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;*/
}
