*.pyc

myfiles/

.idea/

__pycache__
__pycache__/Grafico.cpython-311.pyc
src/view/utils/__pycache__/widgetSearch.cpython-311.pyc
src/view/components/login/__pycache__/TelaRegistro.cpython-311.pyc
src/view/components/__pycache__/Menu.cpython-311.pyc
src/view/components/__pycache__/BotaoImagem.cpython-311.pyc
src/view/assets/styles/fundo_dashboard.css
src/view/__pycache__/MainWindow.cpython-311.pyc
src/controller/__pycache__/telaPrincipal.cpython-311.pyc
src/controller/__pycache__/telaPreviaLivro.cpython-311.pyc
src/controller/__pycache__/telaInicial.cpython-311.pyc
__pycache__/Popup.cpython-311.pyc
__pycache__/Grafico.cpython-311.pyc
