/* ConteudoCatalogo.py e ConteudoMinhaBiblioteca.py */
#conteudoFrame{
    background-color: #FFF9EF;
}

#botaoVoltar{
    image: url("src/view/assets/icons/botaoVoltar.svg");
    background-color: transparent;
}

#botaoVoltar:hover{
    image: url("src/view/assets/icons/botaoVoltarSelecionado.svg");
}

#botaoAdicionar{
    image: url(src/view/assets/icons/adicionar.svg)
}

#botaoAdicionar:hover{
    image: url(src/view/assets/icons/adicionarSelecionado.svg)
}

#containerPainelLivros{
    background-color: #F0D097;
}

/*-------------------------------*/


/* PainelFiltro.py */
#painelFiltroBiblioteca, #painelFiltroCatalogo{
    background-color: #F0D097;
}

#frameFiltros {
    background-color: #FFF9EF ;
}

#botaoFiltrar {
    image: url("src/view/assets/icons/filtro.svg");
    background-color: #F0D097;
    padding: 5px;
}

#botaoFiltrar:hover {
    background-color: #e5c07b;
}

#botaoFiltrar:pressed {
    background-color: #e7b653;
}

/*-------------------------------*/


/* PainelLivros.py */
#contentWidget{
    background-color: #F0D097;
}

#botaoAlfUp{
    image: url(src/view/assets/icons/setaCima.svg);
    background-color: transparent;
}

#botaoAlfUp:checked{
    image: url(src/view/assets/icons/setaCimaChecked.svg)
}

#botaoAlfDown{
    image: url(src/view/assets/icons/setaBaixo.svg);
    background-color: transparent;
}

#botaoAlfDown:checked{
    image: url(src/view/assets/icons/setaBaixoChecked.svg)
}
