/* FundoDashboard.py */

#saudacao {
    font-size: 25px;
}

#labelFrameLivros {
    font-size: 25px;
}

#frameLivros{
    background-color: #F0D097;

}

#botaoVerMais{
    image: url(src/view/assets/icons/verMais.svg);
    background-color: transparent;
}

#botaoVerMais:hover{
    image: url(src/view/assets/icons/verMaisSelecionado;.svg);
}
