/* FundoDashboard.py */

#saudacao {
    font-size: 25px;
}

#labelFrameLivros {
    font-size: 25px;
}

#frameLivros{
    background-color: #F0D097;
    border-radius: 15px;
}

#botaoVerMais{
    image: url(src/view/assets/icons/verMais.svg);
    width: 200%;
    height: 200%;
    background-color: transparent;
}