#saudacao {
    font-size: 20px;
}

#indicadorListaLivros {
    font-size: 20px;
}

#listaLivros{
    background-color: #F0D097;
    border-radius: 15px;
}

#botaoVerMais{
    image: url(myfiles/icon/verMais.svg);
    width: 200%;
    height: 200%;
    background-color: transparent;
}