* {
    font-family: Baskervville, sans-serif;
    font-weight: 500;
}

#mainWindowSpace {
    background-color: #F8F3EF;
}

#menu {
    background-color: #A9A9A9;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#fundoDashboard {
    background-color: #FFF9EF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}