QPushButton {
  background: #CCB081;
  border: 0.5px solid #3D3D3D;
  border-radius: 15px;
  padding: 5px;
  max-width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  color: #FFF9EF;
  }
  QPushButton:hover {
    background-color: #a38d67;
  }
  
  #info {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  }
  
  #h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  }
  
  QLineEdit {    
    border-radius: 8px;
    border: 1px solid #3D3D3D;
    padding: 2px 5px;
  }
  
  #groupImagemBotao {
    background-color: #F8E7C7;
    border: 1px solid #3D3D3D;
  }