QPushButton {
background: #F0D097;
border: 0.5px solid #3D3D3D;
border-radius: 15px;
padding: 2px;
max-width: 200px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 41px;
color: #FFF9EF;
}
QPushButton:hover {
  background-color: #c9ad7b;
}

#info {
font-family: 'Baskervville';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #000000;
}

#h1 {
font-weight: 400;
font-size: 32px;
line-height: 41px;
color: #000000;

}