#conteudoCatalogo{
    background-color: #FFF9EF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#painelFiltro{
    background-color: #F0D097;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#paineLivros{
    border: 0 dashed red;
}

#contentWidget{
    background-color: #F0D097;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#barraPesquisa{
    border-radius: 15px;
    padding: 5px 5px;
    font-size: 16px;
}

QScrollBar:vertical{
    border: none;
}

